# Java
*.class
*.kotlin_module
META-INF/
out/

# IDEA
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/
.springBeans

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Temp
Temp*
temp*
Tmp*
tmp*
Test*
test*

# Others
*.o
